*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
ul li{
    margin: 8px;
    margin-left: 0;
    color: #919294;
    font-size: 18px;
    list-style: none;
}
ul{
    
    padding-left: 0;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #919294;
}
a:hover{
    color: #919294;
    text-decoration: underline;
}
h2 a:hover{
 text-decoration: none;
}
.title{
    color: aliceblue;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    
}
.icon{
    display: flex;
    font-size: 28px;
    color: #919294;
    width: 300px;
    margin: auto;
}
.icon i{
    margin-right: 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 1200px;
   
    margin: auto;


}
.footer-item{
    flex-basis: 25%;
}
footer{
    background-color: #464646;
}





/*  */
body {
    font-family: "Roboto";
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.card {
    margin: auto;
    margin-top: 100px;

    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);

    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
    flex-basis: 30%;
  

}

.content {
    padding: 20px;
}
.course-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    color: #464646;
    font-size: 19px;
    margin-bottom: 16px;
    font-weight: 400;
}

.description {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 16px;
}

.rating {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
}

.rating span {
    color: #ffd600;
}
.page-content{  
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    

}

.item-image{
    width: 100%;
    height: 100%;
}
.image{
    height: 221px;
}
.link{
    color: #464646;
}
/* Haeder */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
}
/* Header style */

.header{
    background-color: #30598c;
    height: 60px;
    padding: 0 15px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Logo style */
.logo img{
    width: 120px ;
}


/* Sidebar style */
.sidebar{
    display: flex;
    align-items: center;
}
/* Menu style */

.menu > ul{
    display: flex;
    
    
}

.menu-item{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 25px;
    cursor: pointer;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
}

/* Sub menu */
.sub-menu{
    position: absolute;
    top: 100%;
   right: 0;
    background-color: #fff;
    width: 200px;
    box-shadow: 0 0 10px rgb(0 0 0/15%);


    display: none;
}
.menu-item:hover .sub-menu{
    display: block;
}

.sub-menu-item{
    color: #464646;
    text-align: center;
    cursor: pointer;
    text-transform: none;
    padding: 12px 16px;
   

}
.sub-menu-item:hover{
    background-color: #c4c4c4;
    color: #fff !important;
}
/* Avatar style */
.avata img{
    width: 32px;
    height: 32px;
    border-radius: 25px;
}

.menu-item span{
    margin-left: 6px;
}
.cart{
    color: #fff;
    position: relative;
  
}
.cart-number{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #26a69a;
    left: 22px;
    position: absolute;
    top: -10px;
    padding: 3px;
    border-radius: 9px;
}
.cart-icon{
    margin-right: 23px;
    font-size: 24px;
    color: #fff;
   
}