*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    background-color: #fff;
    width: 200px;
    position: relative;
    color: #999999;
    font-size: 12px;
    line-height: 40px;
    padding: 8px 0 10px 10px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
    margin: auto;
    cursor: pointer;
}
.menu-item-1{
    background-color: #fff;
    width: 200px;
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    display: none;
    padding: 8px 0 12px 10px;
    color: #999999;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
    cursor: pointer;

}
.menu-test:hover .menu-item-1{
    display: block;
    
}
.menu-item-2{
    background-color: #fff;
    width: 200px;
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    display: none;
    padding: 8px 0 12px 10px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
    cursor: pointer;
}
.menu-test-2:hover .menu-item-2{
    display: block;
}
.menu ul li:hover {
    color:#f36d00 ;
}
ul li {
    list-style: none;
    margin: auto;
}
body{
    background-color: aqua;
    font-family: "Roboto";
    font-size: 13px;
}
.menu-item-2 ul li{
    color: #999999;
}